@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Nanum Gothic", Helevtica, sans-serif;
  color: #4d4d4d;
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  color: #0075b1; }

p {
  padding: 10px 0;
  font-family: "Nanum Gothic", Helevtica, sans-serif; }
